{% extends 'base.html.twig' %}

{% block metaDescription %}Devis gratuit en ligne. Nous nous engageons à vous répondre sous 24h. {% endblock metaDescription %}
{% block robots %}index,follow{% endblock robots %}
{% block title %}Demander un devis - {{ parent() }}{% endblock %}


{% block body %}
<section class="contact container">
<h1>Demander un devis</h1>
            <p>Devis gratuit. Remplissez le formulaire ci-dessous. Nous vous enverrons une reponse dans les meilleurs délais.</p>
    <div class="row">
       <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {{ form(form) }}
                    
        </div>
        <div class="col-lg-2"></div>
    </div>
   
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}