{% extends 'base.html.twig' %}

{% block title %}FORMA BLOCS{% endblock %}

{% block body %}

    <section class="vh-100 container" style="margin-top:50px;">

        {% for formation in formations %}
        <div class="card-body">
            <h1>{{ formation.title }}</h1>
            <div class="content">
                <p>{{ formation.content | raw }}</p>
               
        </div>
        {% endfor %}

    </section>

{% endblock %}
