{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main class="h-100">

<img src={{ asset('assets/images/background/desk-badeau-espace.jpg') }} alt="bandeau espace" width="100%">
<div class="container form-signin mt-5 mb-5">
<h2 class="h3 mb-3 font-weight-bold text-center">Inscription</h2>
{{ form(form) }}
 
 </div>
 </main>
 


{% endblock %}
