{% extends 'base.html.twig' %}

{% block title %}Identifiants oubliés{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <main class="h-100 resetPassword">

<img src={{ asset('assets/images/background/desk-badeau-espace.jpg') }} alt="bandeau espace" width="100%">

<h1 class="mt-5 mb-3 font-weight-bold text-center">Identifiants oubliés</h1>

     <p class="text-center">Vous avez oublié vos identifiants de connexion ?</p>
     <p class="text-center">ça arrive à tout le monde !</p>
     <p class="text-center mb-3">Renseignez votre adresse email et <b>nous vous enverrons un lien pour récupérer vos idtentifiants.</b></p>
   
<div class="container">
<form method="post" class="form-signin mb-8">
<h2 class="h3 mb-3 font-weight-bold text-center">Identifiants oubliés</h2>
 {{ form(requestForm) }}
</form>

</div>
</main>  
{% endblock %}
