@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* Tag */
body {
    font-family: 'Open Sans';
}


/* Titre */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #454548;
}

h1,
h2 {
    font-size: 3.125em;
}

/* banner */

.description {
    font-weight: 500;
    font-size: 2.25em;
}

.banner {
    background: url('../assets/images/background/banner-homepage.jpg') center no-repeat;
    height: 530px;
}

.banner h1 {
    padding-top: 100px;
}

/* Text */
.text-highlight {
    color: #F2CB02;
    font-weight: bold;
}

.textBig {
    font-size: 1.5em;
    text-align: justify;
}

.textSmall {
    font-size: 1.125em;
    font-weight: 600;
}

/* Block */

.prestation {
    background: url('../assets/images/background/bg-home-prestations.jpg') center / contain no-repeat;
    padding: 100px 0;
    margin-top: 102px;
}

.financer {
    padding-top: 60px;
}

.pourquoi {
    background: url('../assets/images/background/desk-bandeau-home-pourquoi.jpg') bottom / contain no-repeat;
    width: 100%;
    height: 775px;
}

.pourquoi h2 {
    padding-top: 100px;
}

.pourquoi video {
    background: url('../assets/images/background/desk-1-petale-jaune.png') no-repeat;
    margin-top: 80px;
    padding-top: 35px;
    padding-left: 35px;
    height: 475px;
    width: 785px;
}

/* Card */
.card-container {
    display: grid;
    padding: 0 150px;
    grid-template-columns: auto auto auto;
    gap: 65px;
}

.card-img-top {
    border-radius: 23px 23px 0 0;
}

.card-item {
    border: none;
    padding: 0;
    border-radius: 23px;
}

.card-text,
.card-title {
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 600;
}

.card-body {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.icone {
    margin-bottom: 40px;
}

.text-note {
    padding-top: 55px;
    font-weight: 600;
}


/* Button */

[class*="btn"] {
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

/* Yellow */
.btnYellow {
    margin-top: 63px;
    margin-bottom: 139px;
    background-color: #FED812;
}

.btnYellow:hover {
    background-color: #FFEE99;
}

.btnYellow:active {
    background-color: #D9B600;
}

/* Grey */
.btnGrey {
    background-color: #CDD1DB;
}

.btnGrey:hover {
    background-color: #F5F6F8;
}

.btnGrey:active {
    background-color: #A0A1A7;
}

/* Header */
.header {
    background-color: #88898C;
}

.icone_Header {
    width: 20px;
    padding-right: 5px;
}

.header a {
    text-decoration: none;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    justify-content: space-between;
}
nav{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    justify-content: space-between;
}
.header a:hover {
    color: #FFF;
}

.header li {
    text-decoration: none;
    color: #FFF;
    padding-right: 50px;
    font-size: 1em;
    font-weight: bold;
    justify-content: space-between;
}

.header .icone_sociaux{
    padding-left: 10px;
    width: 35px;
}
.btn-orange{
    background-color: #ff8103;
    text-decoration: none;
    color: #FFF;
    font-size: 0.75em;
    border-radius: 0px!important;
    padding: 10px 20px 10px 20px;
}
.btn-orange:hover {
    color: #FFF;
}

/* Footer */
footer {
    background-image: url('../assets/images/background/desk-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.75em;
    padding-top: 10px;
}

footer div {
    text-decoration: none;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    color: #F2CB02;
}

footer p {
    text-decoration: none;
    color: #FFF;
    line-height: normal;
}

footer i {
    color: #F2CB02;
    font-size: 1.25em;
}

.icone_Footer {
    width: 15px;
    padding-right: 5px;
}

footer .icone_sociaux {
    width: 25px;
    padding-right: 5px;
}

/* Login */
.jumbotron{ 
    background-color: #deadee;
    border-bottom: 5px solid #fed812;
    margin-bottom: 50px;
    height:20rem;
}

.form-signin {
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding: 50px 50px 50px 50px;
    margin: auto;
    background-color: #f5f6f8;
    border-radius: 20px;
    font-weight:bold;
    filter: drop-shadow(10px 10px 4px #dedede);
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-outline {
    color:#000;
    background-color: #FFF;

}

.form-outline {
    border-radius: 40px;
    color:#000;
    background-color: #FFF;
    filter: drop-shadow(5px 5px 4px #dedede);
}

.form-signin input[type="email"] {
  margin-bottom: 40px;
}
  
.form-signin input[type="password"] {
 margin-bottom: 40px;
}

.form-signin .btn-primary{ border-radius: 0px!important;
 padding: 10px 50px 10px 50px;font-size:1em; 
}

.form-signin h1{
font-weight: bold;
}
.MotDePasseOublie{
    color:#000;
    margin:10px auto 50px auto;
    max-width: 450px;
}
.MotDePasseOublie a{color:#000;}
.MotDePasseOublie a:hover{color:#000;}