@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* Tag */
body {
    font-family: 'Open Sans';
}


/* Titre */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #454548;
}

p,
li {
    font-weight: 600;
} 



/* banner */

.description {
    font-weight: 500;
}

.banner {
    background: url('../assets/images/background/banner-homepage.jpg') center / cover no-repeat;
    height: 530px;
    background-color: #F5F6F8;
    margin-bottom: 60px;
}

.banner h1 {
    padding-top: 100px;
}

/* Text */
.text-highlight {
    color: #F2CB02;
    font-weight: bold;
}

.textBig {
    text-align: justify;
}

.textSmall {
    font-size: .8em;
    font-weight: 600;
}

.textLight {
    font-weight: normal;
}


.iconCard {
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 2;
}


/* Block */


/* Home */
.prestation {
    background: url('../assets/images/background/bg-home-prestations.jpg') center left / contain no-repeat;
    background-color: #F5F6F8;
    margin-top: 102px;
    padding-bottom: 100px;
}

.prestation h2 {
    padding: 60px 0;
}

.financer {
    padding-top: 60px;
}

.financer-mob {
    display: none;
}

.pourquoi {
    background: url('../assets/images/background/desk-bandeau-home-pourquoi.jpg') bottom / contain no-repeat;
    background-color: #FEFAE5;
    width: 100%;
    height: 775px;
    margin-top: 80px;
}

.pourquoi h2 {
    padding-top: 20px;
}

iframe {
    background: url('../assets/images/background/desk-1-petale-jaune.png') no-repeat;
    margin-top: 80px;
    padding-top: 35px;
    padding-left: 35px;
}


/* Formation */
.formation {
    background-color: #E5E5E5;
}

.formation p,
.formation li {
    font-weight: 600;
}

.formation ul li span {
    font-weight: bold;
}

.quote {
    background-color: #FEFAE5;
    font-weight: 600;
}

.quote>div {
    background: url('../assets/images/background/desk-quote-left.svg'), url('../assets/images/background/desk-quote-right.svg');
    background-repeat: no-repeat;
    background-position: center left, center right;
}

.quoteText {
    font-style: italic;
}

.quote-mob {
    display: none;
}

/* Conseil */
.conseil,
.accompagnement {
    background-color: #F5F6F8;
}

.accompagnement h3,
.accompagnement h4 {
    font-weight: bold;
}

.accompagnement h3 {
    color: #E5C210;
}

.accompagnement {
    padding-bottom: 100px;
}


/* Qui sommes nous */
.accompagnement, .quisommes {
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
    background-size: 20%;
}

.quisommes .blockBtn {
    padding-bottom: 200px;
}

.quisommes .nom {
    font-size: 1.25em;
    font-weight: 600;
}

/* CGU / Mentions légales*/
.reglement {
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
}

.reglement div p {
    margin-bottom: 0;
}

.reglement div:last-child {
    padding-bottom: 500px;
}

.reglement ul li {
    font-weight: normal;
}

/* Card */
.prestation .card-container {
    display: grid;
    padding: 0 100px;
    grid-template-columns: auto auto auto;
    gap: 65px;
}

.prestation .card-img-top {
    border-radius: 23px 23px 0 0;
}

.prestation .card-item {
    border: none;
    padding: 0;
    border-radius: 23px;
}


.prestation .card-text,
.prestation .card-title {
    font-size: 1em;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 600;
}

.card-body {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 10px;
}

.lien-card img.card-img-top {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.lien-card:hover img.card-img-top {
    opacity: .8;

}

.lien-card p {
    color: #454548;
}

.text-note {
    padding-top: 55px;
    font-weight: 600;
}





/* Button */

[class*="btn"] {
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

[class*="btn"]:hover {
    color: #000;
}

/* Yellow */
.btnYellow {
    background-color: #FED812;
}

.btnYellow:hover {
    background-color: #FFEE99;
}

.btnYellow:active {
    background-color: #D9B600;
}


/* Grey */
.btnGrey {
    background-color: #CDD1DB;
}

.btnGrey:hover {
    background-color: #F5F6F8;
}

.btnGrey:active {
    background-color: #A0A1A7;
}






/* Header */
.header {
    background-color: #88898C;
}

.icone_Header {
    width: 20px;
    padding-right: 5px;
}

.header a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    justify-content: space-between;
}

nav {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    justify-content: space-between;
}

.header a:hover {
    color: #FFF;
}

.header li {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    justify-content: space-between;
}

.header .icone_sociaux {
    padding-left: 10px;
    width: 35px;
}

.btn-orange {
    background-color: #ff8103;
    text-decoration: none;
    color: #FFF;
    font-size: 0.75em;
    border-radius: 0px !important;
    padding: 10px 20px 10px 20px;
}

.btn-orange:hover {
    color: #FFF;
}






/* Footer */
.FooterDesktop {
    background-image: url('../assets/images/background/desk-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.75em;
    padding-top: 10px;
}

footer div {
    text-decoration: none;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    color: #F2CB02;
}

footer p {
    text-decoration: none;
    color: #FFF;
    line-height: normal;
}

footer i {
    color: #F2CB02;
    font-size: 1.25em;
}

.icone_Footer {
    width: 15px;
    padding-right: 5px;
}

footer .icone_sociaux {
    width: 25px;
    padding-right: 5px;
}

.FooterMobile {
    display: none;
}

.FooterDesktop {
    display: block;
}

.buttonTop img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    background-color: #F2CB02;
}

/* identifiant oublié */
.resetPassword{
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
}
.resetPassword div {
    margin-bottom: 0;
}

.resetPassword div:last-child {
    padding-bottom: 100px;
}

.resetPassword p {
    font-weight: normal;
}

/* Login */
.login {
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
}

.login div p {
    margin-bottom: 0;
}

.login div:last-child {
    padding-bottom: 200px;
}

.form-signin {
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding: 50px 50px 50px 50px;
    margin: auto;
    background-color: #f5f6f8;
    border-radius: 20px;
    font-weight: bold;
    filter: drop-shadow(10px 10px 4px #dedede);
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-control {
    color: #000;
    font-size: 1.1em;
    background-color: #FFF!important;
    border-radius: 20px;
    background-color: #FFF;
    filter: drop-shadow(5px 5px 4px #dedede);
}

.form-signin input[type="email"] {
    margin-bottom: 40px;
}

.form-signin input[type="password"] {
    margin-bottom: 40px;
}

.form-signin .btn-primary {
    border-radius: 0px !important;
    padding: 10px 50px 10px 50px;
    color:#FFF;
}

.form-signin h1 {
    font-weight: bold;
}

/* Contact */
.contact {
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
}

.contact {
    margin-bottom: 0;
    padding-bottom: 400px;
}

.contact h1{
    font-weight:bold;
}

.contact h2{
    font-weight:bold;
    margin-top: 20px;
}

.contactbtnYellow{
    border-radius: 20px;
    background-color: #fed812;
    padding: 10px 70px 10px 70px;
}

.MotDePasseOublie {
    color: #000;
    margin: 10px auto 50px auto;
    max-width: 450px;
}

.MotDePasseOublie a {
    color: #000;
}

.MotDePasseOublie a:hover {
    color: #000;
}

.form-contact {
    font-size: 10px;
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 50px 50px 50px 50px;
    margin: auto;
    background-color: #f5f6f8;
    border-radius: 20px;
    font-weight: bold;
    filter: drop-shadow(10px 10px 4px #dedede);
}

.yellow {
    color: #fed812;
}

.form-contact .btn-yellow {
    border-radius: 20px;
    background-color: #fed812;
    padding: 10px 50px 10px 50px;
}

/* devis */
.devis {
    background: url('../assets/images/background/desk-2silhouettes.png') bottom right no-repeat;
}

.devis {
    margin-bottom: 0;
    padding-bottom: 400px;
}

.devis h1{
   font-weight: bold;
   width:80%;
}

.devis p{
  font-size:1.5em;
  font-weight: normal;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.devisTexte p{
    font-size:1em;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.devisTexte{
    margin-left: 80px;   
}

.devisTexte input{
    margin-left: 130px;
    margin-bottom: 50px;   
}

.devisTexte span label{
    font-size:0.8em;
    vertical-align: middle;
    font-style: normal;
    text-align: center;
}

.form-devis {
    font-size: 10px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    padding: 50px 50px 50px 50px;
    margin: auto;
    background-color: #f5f6f8;
    border-radius: 20px;
    font-weight: bold;
    filter: drop-shadow(10px 10px 4px #dedede);
}

.form-devis .btn-yellow {
    border-radius: 20px;
    background-color: #fed812;
    padding: 10px 70px 10px 70px;
}

.devisMobile{display: none;}
    .devisDesktop{display: block;}

/* Formulaires */
.form-background{
    color: #5c5c5f;
    font-size: 1.1em;
    font-weight:400;
    background-color: #FFF!important;
    border-radius: 20px;
    background-color: #FFF;
    filter: drop-shadow(5px 5px 4px #dedede);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    border:#cecece solid 0.5px;
    padding:10px;
}

.form-check-inline {
    display: flexbox;
    margin-right: 1rem;
    margin-top: 5px;
}

.form-check-inline label{  
   vertical-align: middle;
}

.input-perso{
   width:73%;
}

.status .form-check{
    margin-right: 30px;
}

#quotation_status_3{
    margin-left: 13px;
}

.prestations label{
    width:160px;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-flex;
    margin-right: -40px;
 }

#quotation_benefit{
     width:600px;
    }

.prestations label [for=quotation_benefit_2]{
    width:100px;
}  

input[type='checkbox'] { 
    width:13px;
    height:13px;
    border:0.6px #5c5c5f solid;
}

#quotation_benefit .form-check{
    margin-left: 0px;
    margin-right: 50px;
}

/* Tableau de bord */

.text-success {
    color: #1cc88a !important;
}

.text-warning {
    color: #f6c23e !important;
}

.text-success {
    color: #4e73df !important;
}

@media screen and (max-width: 1024px) {
    .prestation .card-container {
        padding: 0 35px;
        gap: 20px;
    }

    .FooterMobile {
        display: none;
    }

    .FooterDesktop {
        display: block;
    }

    iframe
    {
        width: 680px;
        height: 400px;
    }

}

@media screen and (max-width: 768px) {
    .dropdown-menu {
        position: static !important;
    }  

    .prestation .card-container {
        grid-template-columns: auto auto;
    }

    iframe
    {
        width: 510px;
        height: 300px;
    }
}

@media screen and (max-width: 426px) {

    h1,
    h2,
    h4,
    p,
    li {
        color: #000;
    }
    p,
    li {
        font-size: .9em;
    }
    h1 {
    }

    h2, h4 {
        font-weight: bolder;
    }

    /* Homepage */

    h2.description {
        font-weight: 500;
        padding-bottom: 20px;
    }

    .banner {
        background: url('../assets/images/background/mobile/mobile-bandeau-home-haut.jpg') top right / contain no-repeat;
        background-color: #F5F6F8;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .banner h1 {
        padding-top: 10px;
    }

    .banner a {
        display: none;
    }

    .description~div {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .quote-mob {
        display: block;
        background: url('../assets/icons/mobile/mobile-quote-left-grey.svg'), url('../assets/icons/mobile/mobile-quote-right-grey.svg');
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        margin: 20px 0;
    }

    .quote-mob p {
        font-weight: 500;
        margin-bottom: 0;
        font-size: 0.9375em;
        line-height: 1.125em;
    }

    .quote-mob p:first-child {
        font-style: italic;
    }

    .presentation {
        display: none;
    }

    .prestation {
        margin-top: 0;
        padding: 20px 0;
        background-image: none;
    }

    .prestation h2 {
        padding: 10px 0;
    }

    .prestation .card-container {
        display: block;
    }

    .prestation .card-item:nth-child(odd) {
        background: #FCE47E;
    }

    .prestation .card-item:nth-child(even) {
        background: #FED812;
    }

    .prestation .card-item:last-child {
        background: #CDD1DB;
    }

    .prestation .card-item {
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .prestation .card-body {
        grid-template-columns: 50px 1fr;
        align-items: center;
    }

    .prestation .card-img-top,
    .prestation .card-body * {
        display: none;
    }

    .prestation .card-body img:first-of-type {
        display: block;
        width: 100%;
    }


    .prestation .card-title {
        display: block;
    }

    .card-conseil .card-body img:first-of-type {
        content: url('../assets/icons/mobile/mobile-bulle.svg');
    }

    .text-note {
        display: none;
    }

    .financer {
        display: none;
    }

    .financer-mob {
        display: block;
        padding: 20px 0;
    }

    .financer-mob div {
        padding: 20px 0;
        background-color: #F5F6F8;
    }

    .pourquoi {
        background-image: none;
        background-color: #FEFAE5;
        margin-top: 30px;
        height: auto;
    }

    iframe {
        background: url('../assets/images/background/mobile/mobile-petale-jaune.png') left top no-repeat !important;
        padding-top: 15px !important;
        padding-left: 15px !important;
        margin: 20px 0;
        width: 340px;
        height: 200px;
    }



    /* Formation */

    .quote {
        display: none;
    }

    .financerForma a {
        display: none;
    }

    .financerForma > div{
        background-color: #F5F6F8;
    }

    #bandeauForma {
        content: url('../assets/images/background/mobile/mobile-bandeau-formations.jpg');
        width: 100%;
    }

    #cpf {
        content: url('../assets/images/logo/mobile/mobile-logo-CPF.png');
    }

    #pe {
        content: url('../assets/images/logo/mobile/mobile-logo-pe.png');
    }

    #opco {
        content: url('../assets/images/logo/mobile/mobile-logo-opco.png');
    }

    .formation .container,  .conseil .container , .accompagnement .container {
        background: #FFF;
        padding: 0;
    }

    .card {
        box-shadow: none;
    }
    .formation .card, .conseil .card, .accompagnement .card{
        background-color: #F5F6F8;
        position: relative;
        top: -77px;
    }

    .formation .iconCard {
        content: url('../assets/icons/mobile/mobile-picto-jaune-chapeau-noir.svg');
    }


    .formation .iconCard, .conseil .iconCard, .accompagnement .iconCard {
        top: 0px;
        right: 0px;
    }

    .formation .card-title,
    .formation .card-body {
        font-weight: bold;
    }

    .highlight-mob {
        color: #F2CB02;
    }

    /* conseil */

    #bandeauConseil {
        content: url('../assets/images/background/mobile/mobile-bandeau-conseils.jpg');
    }

    .conseil .iconCard, .accompagnement .iconCard {
        content: url('../assets/icons/mobile/mobile-picto-jaune-puzzle.svg');
    }

    .accompagnement {
        background-image: none;
        padding-bottom: 0;
    }

    .conseil .btnGrey, .accompagnement .btnGrey {
        position: relative;
        top: -30px;
        background-color: #FED812;
    }

    /* Qui sommes nous */
    .quisommes {
        background-image: none;
    }

    .quisommes .container {
        background: url('../assets/images/background/mobile/mobile-picto-2shapes-left.png') left bottom no-repeat;
        background-color: #F5F6F8;
    }

    .quisommes .btnGrey {
        background-color: #FED812;
        padding: 0 40px;
    }
    
    .quisommes .blockBtn {
        padding-top: 20px;
        padding-bottom: 20px;
    }

      /* Devis */

    .devis{
        background: url('../assets/images/background/mobile/mobile-picto-2shapes-right.png') right bottom no-repeat;
    }

    .devis div {
        margin-bottom: 0;
    }
    
    .devis div:last-child {
        padding-bottom: 40px;
    }

    .devis {
        margin-bottom: 0;
        padding-bottom: 100px;
    }
    
    .devis h1{
       font-weight: bold;
       width:90%;
    }
    
    .devis p{
      font-size:1.5em;
      font-weight: normal;
      margin-top: 50px;
      margin-bottom: 80px;
    }
    
    .devisTexte p{
        font-size:1em;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .devisTexte{
        margin-left: 0px;
        margin-top: 20px;   
    }
    
    .devisTexte input{
        margin-left: 0px; 
        margin-top: 20px;
    }
    
    .devisTexte span label{
        font-size:0.8em;
        font-style: normal;
        margin-top: -50px;
    }
    
    .form-devis {
        font-size: 10px;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: auto;
        background-color: #f5f6f8;
        border-radius: 20px;
        font-weight: bold;
        filter: drop-shadow(10px 10px 4px #dedede);
    }
    .devisMobile{
        display: block;
    }
    .devisMobile p{
        font-size:1.2em;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .devisMobile .btn-yellow {
        border-radius: 20px;
        background-color: #fed812;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .devisDesktop{
        display: none;
    }

    /* Formulaires */
    .form-devis .row{margin-bottom:-30px;}
    .form-control{padding:10px;}
    .form-background{
    color: #5c5c5f;
    font-size: 1.1em;
    font-weight:400;
    background-color: #FFF!important;
    border-radius: 20px;
    background-color: #FFF;
    filter: drop-shadow(5px 5px 4px #dedede);
    border:#cecece solid 0.5px;
    margin-bottom:50px;
    padding:10px;
}
.col-form-label{
    color:#fed812;
    font-weight:bold;
}

.form-check-inline {
    margin-right: 1rem;
    margin-top: 5px;
}

.form-check-inline label{  
   vertical-align: middle;
}

.prestations label{
    display: inline;
    width:200px
 }

input[type='checkbox'] { 
    width:20px;
    height:20px;
    border:0.6px #5c5c5f solid;
}

    /* Identifiant oublié */

    .resetPassword{
        background: url('../assets/images/background/mobile/mobile-picto-2shapes-right.png') right bottom no-repeat;
    }

    .resetPassword div {
        margin-bottom: 0;
    }
    
    .resetPassword div:last-child {
        padding-bottom: 40px;
    }

    .resetPassword p {
        font-weight: normal;
    }

    /* Login */

    .login {
        background: url('../assets/images/background/mobile/mobile-picto-2shapes-right.png') right bottom no-repeat;
    }

    .login div:last-child
    {
        padding-bottom: 40px;
    }


    /* Footer */
    
    .FooterMobile {
        background-image: url('../assets/images/background/mobile/mobile-fond-footer.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        font-size: 0.75em;
        padding-top: 10px;
    }

    .FooterMobileDroit {
    background-color: #a0a1a6; 
    }

    .FooterMobile {
        display: block;
    }

    .FooterDesktop {
        display: none;
    }

    .alignementFooter div a {
        color: #FFF;
        font-size: 0.7em;
    }

    .alignementFooter div {
        display: inline-block;
    }

    .alignementFooter hr {
        height: 5px;
        width: 50%;
        color: #FED812;
    }
}