{% extends "base.html.twig" %}

{% block title %}Formablocs - CGU{% endblock %}

{% block body %}

<main class="reglement">
    <img src={{ asset('assets/images/background/desk-bandeau-cgu.jpg')}}
        alt="bandeau conditions générales d'utilisation du site" class="img-fluid">
    <div class="container">
        <h1 class="text-center py-5 col-6 offset-3">Conditions générales d’utilisation du site</h1>
        <p class="textLight">Conditions Générales d'Utilisation du site <span
                class="text-highlight">FormaBLOCS.fr</span>
        </p><br>

        <p>Objet du site</p>
        <p class="textLight">Le site internet de <span class="text-highlight">FormaBLOCS</span>, organisme de formation,
            offre un service
            global à ses utilisateurs. Il
            présente des informations et des services relatifs à la recherche et au financement de formations
            professionnelles.</p><br>

        <p>Informations préalables à l'attention des utilisateurs</p>
        <p class="textLight">Par la consultation et l’utilisation du site www.formablocs.fr, l’utilisateur accepte et
            reconnaît les
            présentes conditions générales d’utilisation applicables à ce site. L’utilisateur est informé que <span
                class="font-weight-bold">FormaBLOCS</span>
            est susceptible de modifier et mettre à jour les présentes conditions générales d’utilisation. L’utilisateur
            s’engage donc à se tenir régulièrement informé des éventuelles modifications des présentes conditions
            générales d’utilisation du site www.formablocs.fr.
        </p><br>

        <p>Conditions d'utilisation du site </p>
        <p>Par l'utilisateur</p>
        <p class="textLight">L’utilisation des services fournis par le site www.formablocs.fr requiert notamment le
            renseignement d’un identifiant, d’une adresse électronique et d’un mot de passe propres à chaque
            utilisateur. Il appartient à l’utilisateur de veiller à la confidentialité de ces renseignements et à leur
            utilisation non-frauduleuse.</p><br>

        <p class="textLight">L’utilisation et/ou la modification des informations susvisées relèvent de la seule
            responsabilité de l’utilisateur. L’utilisateur s’engage à ne pas en faire une utilisation autre que
            personnelle.</p>
        <p class="textLight">Il appartient également à l’utilisateur de conserver les informations susvisées et de
            fournir une adresse mél fonctionnelle pour lui permettre d’accéder aux services fournis par le site
            www.formablocs.fr.
        </p><br>

        <p>Télé-services et échanges électroniques</p>
        <p class="textLight">Le site www.formablocs.fr permet aux utilisateurs d’accéder à plusieurs services de
            <span class="text-highlight">FormaBLOCS</span>, d’opérer des démarches auprès de cette dernière ou de lui
            poser des questions par voie
            électronique. <span class="text-highlight">FormaBLOCS</span> émet alors un accusé de réception ou un accusé
            d’enregistrement électronique
            mentionnant que la demande de l’utilisateur a été prise en compte.
        </p><br>

        <p>Politique d'utilisation des cookies</p>
        <p class="textLight">L'accès à certains contenus du site FormaBLOCS.fr suppose que vous nous transmettiez des
            données personnelles vous concernant. Lorsque vous naviguez sur notre site internet, ces informations sont
            susceptibles d'être enregistrées, ou lues, dans votre terminal. </p><br>
        <p class="textLight">En savoir plus sur notre politique de gestion des cookies</p>
        <br><br><br>
        <p>Responsabilité quant au fonctionnement du site</p>
        <p class="textLight">La continuité des services fournis par le site www.formablocs.fr est en principe assurée
            sous réserve des éventuelles défaillances résultant des fournisseurs d’accès à Internet et/ou de celles
            pouvant perturber ou interrompre la connexion au réseau ou au site.</p><br>
        <p class="textLight">Les éventuelles difficultés d’accès au site pouvant résulter de diverses défaillances du
            réseau Internet (résultant des fournisseurs d’accès, des difficultés de connexion ou autres) ne sauraient
            engager la responsabilité de <span class="text-highlight">FormaBLOCS</span>.</p><br>
        <p class="textLight">L’utilisateur est également informé que les informations et autres données fournies par
            <span class="text-highlight">FormaBLOCS</span> sur le site www.formablocs.fr présentent un caractère
            purement indicatif et ne revêtent aucune
            valeur contractuelle. Ces données et informations ne sauraient engager la responsabilité de <span
                class="text-highlight">FormaBLOCS</span> et
            peuvent à tout moment être actualisées ou supprimées à son initiative.</p>
        <br><br><br>
        <p>Responsabilité quant à l'utilisation du site</p>
        <p>Engagements généraux des utilisateurs </p>
        <p>L’utilisateur accepte les spécificités propres à l’utilisation d’Internet :</p><br>
        <p class="textLight">Il reconnaît que <span class="text-highlight">FormaBLOCS</span> n’effectue aucun contrôle
            sur les sites dont elle n’est pas l’auteur,
            il est responsable du contenu des données personnelles qu’il communique sur le site www.formablocs.fr ou sur
            un autre site,
            il engage sa seule responsabilité sur les sites qu’il consulte, les données qu’il accepte de communiquer et
            les téléchargements qu’il effectue.
            Par l’utilisation du site www.formablocs.fr, l’utilisateur s’engage à :
        </p><br>
        <p class="textLight">Respecter les législations française, communautaire et européenne applicables,
            ne pas faire une utilisation du site www.formablocs.fr contraire à l’ordre public et aux bonnes mœurs,
            maintenir la confidentialité de ses identifiant et mots de passe,
            s’abstenir de collecter, fournir et/ou enregistrer des informations personnelles d’un autre utilisateur du
            site www.formablocs.fr,
            ne pas porter préjudice aux autres utilisateurs du site www.formsblocs.fr,
            fournir des informations exactes et véridiques et mettre à jour les informations qui le concernent,
            notamment à la suite de nouvelles expériences ou formations.
        </p><br>
        <p class="textLight">L’attention de l’utilisateur est plus particulièrement attirée sur le fait qu’il engage sa
            responsabilité par
            l’utilisation qu’il fait du site www.afpa.fr. Il est ainsi juridiquement responsable des dommages de toute
            nature résultant de son utilisation du site et particulièrement de l’usage frauduleux des données
            disponibles sur celui-ci.</p><br>
        <p class="textLight">La responsabilité de <span class="text-highlight">FormaBLOCS</span> ne saurait être engagée
            du fait des données que l’utilisateur transmet sur le
            site www.FormaBLOCS.fr (identifiants, adresse mél, mot de passe et autres données personnelles).
            L’utilisateur est notamment informé que la responsabilité de <span class="text-highlight">FormaBLOCS</span>
            est exclue pour les dommages
            résultant de l’utilisation des données susvisées, de leur oubli, omission ou perte de la part de
            l’utilisateur ou de leur usage par un tiers non autorisé.
        </p><br>
        <p class="textLight">
            <span class="text-highlight">FormaBLOCS</span> se réserve la possibilité de supprimer ou modifier tout
            contenu ou tout élément d’information fournis par l’utilisateur, qui apparaîtrait en contradiction avec les
            présentes conditions générales d’utilisation et seraient notamment illégaux, inappropriés et/ou
            discriminatoires.
            L’attention de l’utilisateur est attirée sur la circonstance que tout agissement en violation de la
            législation applicable est susceptible de donner lieu à un signalement auprès des autorités compétentes.
        </p><br>
        <p>Engagements de <span class="text-highlight">FormaBLOCS</span></p>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> s’engage à respecter les dispositions
            légales en vigueur relativement à l’informatique, aux fichiers et aux libertés (loi n° 78-17 du 6 janvier
            1978, modifiée).</p>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> prendra toutes précautions utiles afin de
            garantir la confidentialité et la sécurité des
            informations personnelles que lui transmettent les utilisateurs du site www.FormaBLOCS.fr</p><br>
        <p>Propriété intellectuelle</p>
        <p class="textLight">Le site, son contenu et toutes les données et éléments le constituant sont des créations
            protégées par les
            dispositions du Code de la propriété intellectuelle, notamment celles relatives à la propriété littéraire et
            artistique, aux droits d’auteur, aux droits des marques et à la protection des bases de données. <span
                class="text-highlight">FormaBLOCS</span>
            est titulaire de l’intégralité des droits de propriété intellectuelle et/ou a obtenu les licences et droits
            d’exploitation au titre des droits d’auteur, du droit des dessins et modèles, du droit des marques ou du
            droit des bases des données.
        </p><br>
        <p class="textLight">Le site comme les logiciels, bases de données, images, textes, illustrations, informations,
            analyses, tableaux, graphismes, photographies, sons, animations, vidéos, logos, marques, signes distinctifs
            ou toutes autres données ou éléments le composant sont la propriété exclusive de <span
                class="text-highlight">FormaBLOCS</span> ou, le cas
            échéant, des auteurs avec lesquels <span class="text-highlight">FormaBLOCS</span> a conclu un accord
            d’utilisation.
        </p><br>
        <p class="textLight">Ils ne peuvent, en conséquence, être reproduits, représentés ou diffusés sous quelque forme
            ou quelque support que ce soit sans l’autorisation préalable, expresse et écrite de <span
                class="text-highlight">FormaBLOCS</span>. Pour obtenir
            cette autorisation, il convient de contacter le correspondant du Pôle numérique avec une demande motivée à
            l’adresse suivante : FormaBLOCS, 10 rue des Savoirs 75010 Paris.
        </p><br>
        <p class="textLight">En l’absence d’autorisation donnée conformément aux dispositions du paragraphe précédent,
            <span class="text-highlight">FormaBLOCS</span> se
            réserve le droit d’engager toutes poursuites judiciaires contre la ou les personnes contrevenantes sur le
            fondement des articles L. 335-2 et suivants du Code de la propriété intellectuelle.
        </p><br>
        <p class="textLight">
            <span class="text-highlight">FormaBLOCS</span> accorde à l’utilisateur un droit d’utilisation non exclusif
            et non transférable du site et des données et éléments qui le composent, le droit concédé étant compris pour
            un usage strictement privé et dans
            le cadre limitatif suivant : (i) droit de consulter en ligne les œuvres, les données et éléments disponibles
            sur le site ; (ii) droit de reproduire par voie d’impression les œuvres, données et éléments constituant le
            site.
        </p><br>
        <p class="textLight">L’utilisateur reconnaît qu’il n’est autorisé à utiliser le contenu du site que dans les
            limites fixées par les présentes. Sans préjudice des dispositions figurant à l’alinéa précédent, l’attention
            de l’utilisateur est attirée sur le fait qu’il est expressément interdit de reproduire, représenter,
            diffuser, distribuer, télécharger, extraire, réutiliser, modifier, adapter, traduire les éléments et données
            du site dans le cadre d’une activité commerciale. Les atteintes à cette interdiction seront systématiquement
            portées par <span class="text-highlight">FormaBLOCS</span> devant les juridictions compétentes.
        </p><br>
        <p class="textLight">L’utilisateur s’interdit également d’importer des données ou éléments sur le site qui
            auraient pour effet de
            modifier la nature ou l’apparence de son contenu, sa présentation ou l’articulation des données et éléments
            qui le composent. La marque <span class="text-highlight">FormaBLOCS</span> et, le cas échéant, tous les
            autres logos, noms ou signes distinctifs
            figurant sur le site sont des marques déposées et à ce titre protégées par les dispositions du Code de la
            propriété intellectuelle (article L. 712-1 et suivants).
        </p><br>
        <p class="textLight">A défaut d’une autorisation préalable et expresse de <span
                class="text-highlight">FormaBLOCS</span> ou de leur titulaire, il
            est strictement interdit à l’utilisateur d’en faire usage isolément ou en les associant à ses propres signes
            distinctifs, noms ou marques.
        </p><br>
        <p class="textLight">
            Sont également soumis à autorisation : (i) la mise en place d’un lien hypertexte vers la page d’accueil du
            site www.formablocs.fr ; (ii) le renvoi à des pages secondaires du site www.formblocs.fr par le biais d’un
            lien profond. Pour obtenir cette autorisation, il convient de contacter le correspondant du Pôle numérique
            avec une demande motivée à l’adresse suivante : FormaBLOCS, 10 rue des Savoirs 75010 Paris.
        </p><br>
        <p class="textLight">Lorsqu’il est proposé à l’utilisateur d’être redirigé par des liens hypertexte figurant sur
            le site www.formablocs.fr vers des sites appartenant à des tiers, <span
                class="text-highlight">FormaBLOCS</span> ne peut en aucun cas être tenue
            pour responsable des contenus, données ou éléments proposés par ceux-ci et le cas échéant, des éventuels
            préjudices dont pourrait se prévaloir l’utilisateur à l’occasion de l’utilisation de ces sites tiers.
        </p><br>
        <p class="textLight">
            Dans tous les cas, si le contenu du site est utilisé en violation des dispositions qui précèdent ou de la
            législation en vigueur, <span class="text-highlight">FormaBLOCS</span> prendra toutes mesures conservatoires
            ou définitives lui assurant le
            respect de ses droits et prérogatives.
        </p>
    </div>
</main>

{% endblock %}