{% extends 'base.html.twig' %}

{% block title %}FORMA BLOCS{% endblock %}

{% block body %}
<main>
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6">FORMABLOCS, ORGANISME<br>
DE FORMATION ET DE CONSEIL</h1>
      <p class="lead my-3">Spécialisé dans le domaine de la formation<br>
professionnelle continue (distanciel).</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">PLUS D'INFORMATIONS</a></p>
    </div>
  </div>

<div class="container">
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Qui suis-je ?</h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
     <a href="{{ path('contact')}}" class="btn btn-primary">ME CONTACTER</a>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>
    </div>

<div class="p-4 p-md-5 mb-4 rounded">
<h2 class="text-center">Types de prestations proposées</h2>

<div class="">
<div class="card" style="width: 18rem;">
  <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="30%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">example</p>
    <p class="card-text">example</p>
    <p class="card-text">example</p>
    <p class="card-text">example</p>
  </div>
</div>
</div>
<a href="{{ path('quotation')}}" class="btn btn-primary">DEMANDE DE DEVIS</a>
 </div> 


<div class="container">

<center><h2>Financements</h2></center>
<div class="row">
<div class="col"><svg class="card-img" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100px" height="100px" fill="#55595c"/></svg></div>
<div class="col"><svg class="card-img" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100px" height="100px" fill="#55595c"/></svg></div>
<div class="col"><svg class="card-img" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100px" height="100px" fill="#55595c"/></svg></div>
<div class="col"><svg class="card-img" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100px" height="100px" fill="#55595c"/></svg></div>
<div class="col"><svg class="card-img" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100px" height="100px" fill="#55595c"/></svg></div>
</div>

</div>

</div>


  <div class="">
      <div class="">
        <h2 class="text-center">Pourquoi se former avec nous ?</h2>
        
      </div>
      <div class="">
      <center>
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </center>
      </div>
    </div>
   

</main>
{% endblock %}
