{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<main>
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6 fst-italic">FORMABLOCS, ORGANISME<br>
DE FORMATION ET DE CONSEIL</h1>
      <p class="lead my-3">Spécialisé dans le domaine de la formation<br>
professionnelle continue (distanciel).</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">PLUS D'INFORMATIONS</a></p>
    </div>
  </div>

  

</main>
{% endblock %}
