{% extends "base.html.twig" %}

{% block title %}Formablocs - Protection des données / Mentions légales{% endblock %}

{% block body %}
<main class="reglement">
    <img src={{ asset('assets/images/background/desk-bandeau-protection.jpg')}} alt="bandeau protection des données"
        class="img-fluid">
    <div class="container">
        <h1 class="text-center py-5 offset-2 col-8">Politique de protection des données à caractère personnel</h1>
        <p>Quel est l’objet de notre Politique de protection des données à caractère personnel ?</p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> est susceptible de collecter et de traiter
            des données à caractère personnel vous concernant dans le cadre des prestations de formations et/ou de
            services dont vous bénéficiez auprès d’elle, notamment lorsque vous accédez à ses sites internet.</p><br>
        <p class="textLight">La présente Politique de protection des données a ainsi pour objet de vous informer de la
            manière dont <span class="text-highlight">FormaBLOCS</span> recueille, utilise et protège vos données à
            caractère personnel.
        </p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> s’engage à respecter et à appliquer la
            réglementation en vigueur en France (Loi Informatique et Libertés du 6 janvier 1978 modifiée) et dans
            l’Union Européenne (Règlement UE 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la
            protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre
            circulation de ces données , dit « RGPD ») en matière de protection des données à caractère personnel.
        </p><br>
        <p class="textLight">Elle est susceptible d’être complétée par les mentions spécifiques portées à votre
            connaissance à l’occasion de votre participation ou de votre souscription à un ou plusieurs des services
            proposés par <span class="text-highlight">FormaBLOCS</span> (par exemple, lorsque vous candidatez à une
            formation, que vous demandez une aide à
            la formation, etc.).
        </p><br>
        <p class="textLight">Cette Politique est librement accessible depuis l’URL https://www.formablocs.fr en version
            consultable et
            imprimable.
        </p><br>
        <p class="textLight">Elle peut être modifiée ou mise à jour, unilatéralement, à tout moment. Nous vous prions de
            la lire attentivement et vous invitons à la consulter régulièrement.
        </p><br><br><br>
        <p>Pourquoi traitons-nous vos données personnelles</p><br>
        <p class="textLight">Le traitement de vos données personnelles par FormaBLOCS est justifié :</p><br>
        <p class="textLight">
            Dans un cadre précontractuel, à votre demande ou à celle d’un tiers (votre employeur par exemple) notamment
            pour :
            vous accompagner dans la définition de votre projet professionnel, notamment en fonction de votre formation
            initiale, de votre expérience professionnelle ou d’une autre nature, évaluer vos connaissances, vos acquis,
            vos compétences et votre savoir-faire, identifier les prestations utiles à votre projet professionnel et
            concevoir votre parcours de formation, notamment pour en adapter les modalités, identifier les financements
            mobilisables en fonction de votre situation personnelle notamment les dispositifs d’accès à la formation,
            dans un cadre contractuel pour exécuter le contrat que nous avons conclu avec vous, notamment pour :
        </p>
        <ul>
            <li>mettre en œuvre une action de formation et/ou un accompagnement,</li>
            <li>évaluer vos connaissances, vos acquis, vos compétences et votre savoir-faire dans le cadre de la
                formation que vous suivez et à l’issue de cette formation,</li>
            <li>vous inscrire aux sessions d'examen ou aux évaluations, internes ou externes à <span
                    class="text-highlight">FormaBLOCS</span>, qui vous
                permettent de faire certifier vos compétences ou d’être habilité pour certains emplois ;</li>
            <li>transmettre vos demandes d'aides financières aux organismes compétents,</li>
            <li>tracer et enregistrer les prestations dont vous avez bénéficié, afin de pouvoir les facturer,</li>
            <li>mesurer votre satisfaction à l’issue de la formation dont vous avez bénéficié,</li>
            <li>rendre compte auprès d’éventuels tiers (financeurs, prescripteurs, employeurs et autres partenaires) des
                prestations dont vous bénéficiez,</li>
            <li>suivre la poursuite de votre projet professionnel, notamment votre insertion dans l’emploi, par le biais
                d’enquêtes réalisées à la demande des financeurs et acteurs des politiques publiques,</li>
            <li>vous accompagnez dans votre retour à l'emploi.</li>
        </ul>
        <br><br><br>
        <p>Le traitement de vos données personnelles peut également être imposé par des dispositions légales ou
            réglementaires, telles que :
        </p><br>
        <p class="textLight">L’obligation de transmettre des données vous concernant aux organismes de protection
            sociale afin qu’ils déterminent vos droits sociaux,
            l’obligation de transmettre tout document afférent aux prestations dont vous avez bénéficié dans le cadre du
            contrôle des financements mobilisés.
        </p><br><br>
        <p class="textLight">Le traitement de vos données personnelles peut également être nécessaire pour permettre à
            <span class="text-highlight">FormaBLOCS</span> d’exécuter ses missions de service public et/ou pour
            permettre l’exécution de la mission publique
            de l’un de ses partenaires. Il peut s’agir notamment des cas suivants :</p><br>
        <p class="textLight">Participer à la mise en œuvre des missions de service public et des dispositifs nationaux
            pilotés par les
            Ministères, anticiper les métiers et les compétences de demain ainsi que les besoins en formations et/ou
            prestations.</p>
        <p class="textLight">Le traitement de vos données personnelles peut être nécessaire pour permettre à <span
                class="text-highlight">FormaBLOCS</span>
            de poursuivre des intérêts légitimes qui lui sont propres, dans la mesure où il ne porte pas atteinte à vos
            intérêts, libertés et droits fondamentaux.</p><br>
        <p class="textLight">Un traitement de vos données personnelles peut avoir lieu lorsque vous avez donné votre
            consentement pour une
            ou plusieurs finalités spécifiques, notamment pour permettre à <span
                class="text-highlight">FormaBLOCS</span> de communiquer avec vous sur les
            services et/ou formations qui pourraient vous intéresser.
        </p><br>
        <p class="textLight">Pour chaque traitement, <span class="text-highlight">FormaBLOCS</span> recueille et utilise
            les seules données pertinentes et nécessaires à l’objectif poursuivi par le traitement.
        </p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> est susceptible d’utiliser des données
            collectées et transférées par des partenaires et sous-traitants. Dans ce cas, FormaBLOCS vérifie que ces
            derniers ont respecté leurs obligations à votre endroit.
        </p><br><br>
        <p>Quelles données personnelles traitons-nous ?</p><br>
        <p>En fonction des services que vous utilisez et de vos interactions avec <span
                class="text-highlight">FormaBLOCS</span>, sont susceptibles d’être recueillies et traitées les
            catégories de données suivantes.
        </p><br><br>
        <p>Catégories</p><br>
        <p class="textLight">À quel moment ces données peuvent-elles être collectées ?<br>
            Données d'identification <br>
            Exemples : nom, prénom, date de naissance, adresse, numéro de téléphone, email, etc. <br>
            Vous créez un compte sur le portail www.formablocs.fr <br>
            Vous déposez votre candidature à une formation <br>
            Vous nous appelez pour une information <br>
            Vous participez à une journée porte ouverte, etc. <br>
            <br>
            Vie personnelle, <br>
            Exemples : situation familiale, coordonnées de la personne à prévenir en cas d’urgence, nombre de personnes
            à charge, etc. <br>
            Vous êtes bénéficiaire de services <br>
            Vous êtes stagiaire de la formation professionnelle <br>
            Vous bénéficiez d’aides financières ou vous souhaitez en bénéficier,etc <br>
            <br>
            Informations d'ordre économique et financier Exemples : coordonnées bancaires, aides financières de l’Etat,
            revenus, etc. <br>
            Vous êtes bénéficiaire de services <br>
            Vous êtes stagiaire de la formation professionnelle <br>
            Vous bénéficiez d’aides financières ou vous souhaitez en bénéficier <br>
            Vous financez une partie ou la totalité de votre formation/certification <br>
            Vie professionnelle et formation <br>
            Exemples : diplômes obtenus, dernière classe suivie, qualifications professionnelles, numéro pôle emploi,
            durée de chômage dans les 36 derniers mois, type de contrat de travail précédent, etc. <br>
        </p><br><br>
        <p>Catégorie particulière des données sensibles</p><br>
        <p class="textLight">Certaines données sensibles, notamment votre NIR ou numéro de sécurité sociale et
            éventuellement des données relatives à un handicap établi par un statut, peuvent être traitées en lien avec
            votre projet, son financement, l’appréciation de votre aptitude à suivre une formation et la conception de
            votre parcours (notamment pour en définir les modalités).</p><br>
        <p class="textLight">Les données sensibles concernant les personnes sous main de justice peuvent être traitées
            pour les besoins de la relation avec l’administration pénitentiaire et les services d’insertion et de
            probation ainsi que pour la gestion de la sécurité dans les établissements.</p><br>
        <p class="textLight">Des missions de service public visant des publics « spécifiques » ou des financements
            particuliers, notamment les fonds européens, peuvent justifier le traitement de données sensibles ou perçues
            comme sensibles. <span class="text-highlight">FormaBLOCS</span> procède à la collecte et au traitement de
            ces données selon les règles
            déterminées par les administrations, collectivités et autres prescripteurs concernés.
        </p><br>
        <p>Les cookies</p><br>
        <p class="textLight">Les cookies font l’objet d’une politique d’utilisation spécifiée sur le site Internet de
            <span class="text-highlight">FormaBLOCS.</span></p><br>
        <p>Combien de temps sont conservées vos données personnelles ?</p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> conserve vos données personnelles pendant la
            durée nécessaire à
            l’accomplissement des finalités poursuivies par chaque traitement et/ou conformément aux dispositions
            légales et réglementaires applicables à chaque traitement.
            Les durées de conservation varient en fonction de la nature des données et de la finalité du traitement.
            Une fois les finalités de traitement atteintes, dans la limite des contraintes techniques, l’Afpa s’engage à
            anonymiser et/ou à supprimer vos données personnelles.</p><br><br>
        <p>Comment assurons-nous la sécurité de vos données personnelles ?</p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> met en œuvre des mesures physiques,
            techniques et
            organisationnelles adaptées aux évènements
            redoutés et risques associés qui visent à garantir la sécurité de vos données personnelles. Ces mesures
            tendent à empêcher la destruction, la perte, l’intrusion ou l’accès non autorisé à ces données, de manière
            accidentelle ou malveillante.</p><br>
        <p class="textLight">Ces mesures reposent sur : <br>
            Des moyens permettant de garantir la confidentialité, l'intégrité et la disponibilité des données et des
            services nécessaires à la réalisation du traitement, et notamment :
        </p>
        <ul>
            <li>la sécurité des locaux techniques, sécurité des ressources informatiques,</li>
            <li>la gestion de l’authentification et des habilitations,</li>
            <li>la sécurité des postes de travail,</li>
            <li>la sécurité des réseaux et des serveurs,</li>
            <li>la sécurité des échanges,</li>
            <li>la sécurité des sauvegardes.</li>
        </ul>
        <p class="textLight">des moyens permettant de rétablir la disponibilité des données à caractère personnel et
            l'accès à celles-ci dans des délais appropriés en cas d'incident physique ou technique, un système de
            gestion visant à analyser et évaluer l'efficacité des mesures techniques et organisationnelles pour assurer
            la sécurité du traitement (journalisation, archivage des logs, etc.).</p><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> a également mis en place une procédure de
            gestion des incidents de sécurité.
            Cette procédure prend en compte les violations de données personnelles et inclut une notification immédiate
            à la Commission Nationale de l’Informatique et des Libertés (CNIL) et aux personnes concernées si cette
            violation est susceptible d’engendrer un risque élevé pour les droits et les libertés de la personne.</p>
        <br>
        <p class="textLight">La sécurité de vos données personnelles repose également sur vos pratiques. L’Agence
            Nationale de la Sécurité des Systèmes d’Information (ANSSI) met à votre disposition des bonnes pratiques de
            navigation sur l’internet données.</p><br><br>
        <p>Prestataires et sous-traitants de <span class="text-highlight">FormaBLOCS</span></p><br>
        <p class="textLight">Les prestataires et sous-traitants de <span class="text-highlight">FormaBLOCS.</span> sont
            soumis aux mêmes obligations de sécurité et de confidentialité. FormaBLOCS met en œuvre une politique de
            contractualisation systématique de la protection de données, définissant leurs obligations quant aux
            traitements des données personnelles vous concernant.
        </p><br><br>
        <p>À qui vos données personnelles peuvent-elles être communiquées ?</p><br>
        <p class="textLight">
            Dans le cadre des objectifs et finalités évoqués précédemment, vos données personnelles peuvent être
            communiquées aux catégories suivantes de destinataires :
            des administrations, institutions et organisations tels que Pôle Emploi, le Ministère du Travail, l’Union de
            Recouvrement des cotisations de Sécurité sociale et d’Allocations Familiales, les Organismes Paritaires
            Collecteurs Agréés...,les Collectivités Territoriales, en particulier les Régions,
            des partenaires dans le champ de l’orientation de la formation et de l’insertion professionnelles tels que
            les Missions Locales, les CAP Emploi, les Écoles de la deuxième chance, l’EPIDE,des partenaires privés tels
            que votre employeur ou un autre organisme de formation,des prestataires et sous-traitants tels que des
            instituts de sondage ou des plates-formes téléphoniques, les prestataires de services informatiques
            (hébergement, maintenance, etc.),
            les autorités compétentes, sur demande ou dans le cadre d’obligations légales.
        </p><br><br>
        <p class="textLight"><span class="text-highlight">FormaBLOCS</span> s’engage à ne pas fournir vos données
            personnelles à des acteurs exerçant des activités publicitaires.</p><br><br>
        <p>Quels sont vos droits ?</p><br>
        <p class="textLight">Vous disposez de différents droits, que vous pouvez exercer à tout moment. Vous pouvez
            ainsi :</p>
        <ul>
            <li> accéder à vos données personnelles (droit d’accès),</li>
            <li>demander la correction, la mise à jour ou la modification des données vous concernant qui ne sont plus
                exactes ou complètes (droit de rectification),</li>
            <li>demander la limitation ou la suppression de vos données personnelles, notamment si vous croyez que leur
                traitement n’est pas justifié ou n’est pas légal ou dans les autres cas prévus par la loi (droit de
                limitation et de suppression),</li>
            <li>retirer votre consentement au traitement de vos données personnelles, dans le cas où vous avez donné un
                tel consentement (droit de retrait du consentement),</li>
            <li>vous opposer à la continuation d’un traitement (droit d’opposition),</li>
            <li>demander la portabilité de vos données personnelles à savoir, la restitution de vos données personnelles
                sous un format électronique aux fins de les utiliser vous-même ou de les transmettre à un autre
                organisme, dans les cas permis par la loi (droit à la portabilité),</li>
            <li>définir des directives relatives au sort de vos données personnelles après votre décès (conformément à
                l’art. 40-1 de la Loi Informatique et Libertés).</li>
        </ul><br>
        <p class="textLight"> Si vous considérez que le traitement de vos données personnelles ne respecte pas vos
            droits, vous pouvez adresser une réclamation auprès de la CNIL, autorité de contrôle dont la mission est de
            veiller en France au respect de la réglementation applicable aux traitements de données à caractère
            personnel : www.cnil.fr</p><br>
        <p>Comment pouvez-vous exercer vos droits ?</p><br>
        <p class="textLight">Ces droits doivent être exercés dans les limites et conditions prévues par la loi française
            (la Loi Informatique et Libertés du 6 janvier 1978 modifiée) et européenne (le Règlement (UE) 2016/679).
        </p><br>
        <p class="textLight">
            Si vous souhaitez exercer l’un de vos droits, il suffit d’adresser votre demande :
        </p><br>
        <p class="textLight">Par email au Délégué à la protection des données à l’adresse électronique
            contact@formablocs.fr ,</p><br>
        <p class="textLight">par voie postale à l'adresse suivante : Délégué à la protection des données, FormaBLOCS, 10
            rue des Savoirs 75010 Paris.
        </p><br><br>
        <p class="textLight">Il convient de mentionner dans votre demande le droit que vous souhaitez exercer et la
            manière dont vous souhaitez recevoir la réponse de <span class="text-highlight">FormaBLOCS</span> (par email
            ou par voie postale).</p><br>
        <p class="textLight">Vous devez fournir toutes les informations nécessaires pour justifier de votre identité
            (vos nom et prénoms, date de naissance, adresse postale, email ou numéro de téléphone) et joindre à votre
            demande une photocopie ou une copie numérique d'un document d'identité valable. Cette photocopie n’est pas
            requise pour exercer votre droit d’opposition.</p><br>
        <p class="textLight">
            <span class="text-highlight">FormaBLOCS</span> répondra à votre requête dans un délai d’un mois à compter de
            la réception de votre demande
            complète. Elle se réserve le droit de ne pas répondre à des demandes manifestement infondées ou excessives.
        </p>
    </div>
</main>
{% endblock %}