<div class="popup">
<div class="cnt223">
<div class="modal-dialog modal-xl">
        <p><span class="yellow">FormaBLOCS</span> utilise des cookies sur ce site. Certains sont strictement nécessaires pour le bon fonctionnement de celui-ci mais vous trouverez ci- dessous ceux qui sont optionnels:<p>
<p>
• Les cookies de performance;<br>
• Les cookies de personnalisation du site;<br>
• Les cookies pour une publicité ciblée.<br>
Quand vous cliquez sur "Accepter les cookies", nous plaçons toutes ces catégories de cookies afin de personnaliser votre visite en ligne. Si vous préférez paramétrer les cookies vous–même, cliquez sur "Paramètres des cookies". En poursuivant votre navigation sans interaction avec notre bannière, vous acceptez l'utilisation des cookies. Pour en savoir plus cliquer ici.
</p>
      </div>
      <div class="FooterPopup">
        <button type="button" class="btn-yellow close">ACCEPTER</button>
        <button type="button" class="btn-white close">REFUSER</button>
        <button type="button" class="btn-gray close">PARAMETRE DES COOKIES</button>
      </div>
  

</div>
</div>