<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4">
          <!-- Content -->
          <p class="text-uppercase fw-bold mb-4">
            <i class="fas fa-user-alt"></i></i>Héloïse ZITOUNI<br>
          06 00 00 00 00<br>
contact@formablocs.fr</p>
<p>N° de SIRET : 522 365 568 000 13<br>
N° de déclaration d'activité : 92 83 02 801 87
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Links -->
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">NOS FORMATIONS</a>
          </p>
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">NOS CONSEILS</a>
          </p>
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">MON COMPTE</a>
          </p>
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">DEMANDE DE DEVIS</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Links -->
		    <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">CONDITIONS GENERALES DE VENTE</a>
          </p>
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">CGU DU SITE</a>
          </p>
          <p>
            <i class="bi bi-caret-right-fill"></i><a href="#!" class="text-uppercase">POLITIQUE DE CONFIDENTIALITES</a>
          </p>
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">MENTIONS LEGALES</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <!-- Links -->
          <p>Suivez-nous sur</p>
       
          <p><i class="fas fa-phone me-3"></i> <i class="fas fa-phone me-3"></i> <i class="fas fa-phone me-3"></i> <i class="fas fa-phone me-3"></i></p>
     
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    TOUS DROITS R&Eacute;SERV&Eacute;S 2021 ©<a class="text-reset" href="/" style="text-decoration: none;">FormaBLOCS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->